/*
 Different Coloring Schemes
*/

p{
  font-family: Raleway;
}
h1{
  font-family: Indie Flower;
}
body{

  margin:0;
  padding:0;
}



/* New */
.intro{
  background:url('https://images5.alphacoders.com/721/721657.jpg') no-repeat;
  background-position: 50% 50%;
  background-size:cover;


}
.intro h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 7em;
  color: #ff3
}

/* .content{
  height: 2000px;
  padding-top: 100px;
  background-color: #aaa;
} */

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

.btn{
  margin-left: 0.5px;
  margin-right:0.5px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
