
/* Intro */
.intro{
  background:url(../lib/intro.jpg) no-repeat;
  background-position: 50% 50%;
  background-size:cover;

}
.intro h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 7em;
  color: white;
font-family: 'Montserrat', sans-serif;
}
p{
  color:#696969;
}
/* about me */
p.excerpt{
padding: 120px 0 100px;
}
/* social */
.social{
  padding: 0;
  margin: 0 0 20px;
  text-align:center;
  padding-top: 20px;

}

.social li{
  display: inline;
  margin: 50px;

}

.social i{
  font-size: 250%;
  color:white;
  border: 1px solid transparent;


}
.social i:hover{
  transition: .5s ease;
  border: 1px solid rgba(255, 255, 255, .5);
  color: rgba(255, 255, 255, .8);
  border-radius: 5px;

}

.nav-item{
  font-family: 'Montserrat', sans-serif;
}


#about {padding-top:50px;height:1000px;color: #fff; background-color: #E1EBED; text-align: center; font-family: 'Montserrat', sans-serif;}
#section2 {padding-top:50px;height:1000px;color: #fff; background-color: #E9E1ED; text-align: center; font-family: 'Montserrat', sans-serif;}
#contact {padding-top:50px;height:1000px;color: #fff; background-color: #EDE3E1; text-align: center; font-family: 'Montserrat', sans-serif;}
#projects {padding-top:50px;height:1000px;color: #fff; background-color: #E5EDE1; text-align: center; font-family: 'Montserrat', sans-serif;}





.center {
    margin: auto;
    width: 50%;

    padding: 10px;
    color:black;
}


.btn{
  /* -webkit-transition-duration: 0.4s; /* Safari */
  /* transition-duration: 0.4s; */
  margin-left: 0.5px;
  margin-right:0.5px;
}
.button{
  /* -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

/* elevator button */

.elevator {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: inline-block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  visibility: hidden;
  background: rgba(0, 0, 0, .7);
  background-image: none;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05);
          box-shadow: 0 0 10px rgba(0, 0, 0, .05);
          opacity: 0.5;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.elevator.elevator-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 0.5;
  z-index: 999;
}
.elevator .fa {
  position: relative;
  top: 12.5px;
  left: 14.5px;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: white;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.elevator:hover {
  background: rgba(0, 0, 0, .8);
  opacity: 0.6;
}
.elevator:hover .fa {
  top: 5px;
  color: white;
}
@media (max-width: 768px) {
  .elevator {
    /* only show elevator on desktop screen */
    display: none !important;
  }
}


/* Custom Collapse NavBar */


.custom-menu {
  position: relative;
  float: left;
  right: 0;
  @media (min-width: 767px) {
    position: absolute;
  }
  .tool-items {
    float: right;
    margin: 0;
    position: relative;
    z-index: 3;
    li {
      display: block;
      float: left;
      position: relative;
    }
    .lang-picker {
      height: 50px;
      width: 50px;
      position: relative;
      .lang {
        &.list {
          position: relative;
          transform: rotateX(-90deg);
          transform-origin: top center;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
        }
        a {
          position: relative;
          display: block;
          height: 50px;
          width: 50px;
          text-align: center;
          line-height: 50px;
          color: #fff;
          background-color: gray;
          z-index: 1;
          -webkit-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
          &:hover {
            background-color: #8bcaef;
            text-decoration: none;
          }
        }
      }
      .lang-current {
        a {
          background-color: gray;
          z-index: 2;
        }
      }
      &:hover {
        .list {
          box-shadow: -2px 2px 3px rgba(0,0,0,0.6);
          transform: rotateX(0);
        }
      }
    }
    .icon-link {
      height: 50px;
      width: 80px;
      margin: 0;
      padding: 0;
      a {
        padding: 0px 15px;
        margin: 0;
        line-height: 50px;
      }
      img {
        vertical-align: text-bottom;
        padding: 0;
        margin: 0;
      }
      span {
        font-size: 12px;
      }
    }
  }
}

/* NavBar */

.header {
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 998;
}

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Montserrat';
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 11px;
	letter-spacing: 3px;
	color: #222;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #E7746F;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 22px;
    font-family: 'Montserrat';
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

/* footer */
.footer {
    width: 100%;
    min-height: 132px;
    background-color: #1F1F1F;
    text-align:center;
}
.footer .fa {
    display:inline-block;
    vertical-align:middle;
    color: #444;
    font-size: 2.2em;
    background-color: #fff;
    border: 4px solid #E6E6FA;
    border-radius: 48px;
    height: 52px;
    line-height: 44px;
    width: 52px;
    margin:20px 5px;
}
.copy_text {
    font-family: PT Sans;
    font-size: 0.8em;
    font-style: italic;
    color: #fff;
}

/* Contact form */
/* input[type=name] {
    border: none;
    border-bottom: 2px solid red;
} */
.forms{
  border: 1px solid #D8E1E4;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 5px;
}
input[type="name"]{
  width: 40%;
}
input[type="email"]{
  width: 40%;
}
textarea[name="message"]{
  width: 40%;

}
button[type="submit"]{
  width: 40%;
}



/* Image Fade for Gallery */
.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  opacity: 0.3
  color: white;
  font-size: 16px;
  /* padding: 16px 32px; */

}
